@page "/home"
@page "/"

@inject IStringLocalizer<Index> L

<MudContainer>
    <MudGrid>
        <MudItem xs="12" sm="12" md="12">
         <MudText Align="Align.Center" Typo="Typo.h4">@L["👋 Explore Rewards+ Loyalty"]</MudText>

        </MudItem>
        <MudItem xs="12" sm="12" md="12">
           <div class="mud-typography-align-center">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" Target="_blank" StartIcon="@Icons.Material.Filled.Rocket">@L["Get Started"]</MudButton>
            </div>
        </MudItem>
        <MudItem xs="12" sm="12" md="12">
             <MudText Align="Align.Center">@L["Version 1.0"]</MudText>
        </MudItem>
        <MudItem  xs="12" sm="12" md="12">
            <MudAlert Style="margin-top:10px;justify-content:center" Severity="Severity.Info"><MudLink Href="https://github.com/bharathwajv/RewardsPlus">@L["Liked this? Star on Github!"]</MudLink></MudAlert>
        </MudItem>
    </MudGrid>
</MudContainer>

@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = default!;

    public IEnumerable<Claim>? Claims { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthState;
        Claims = authState.User.Claims;
    }
}